from .amos import *


# nnUnet: [112, 128, 160]
x_patch_size = y_patch_size = np.array([128, 128, 96])

# pool_op_kernel_sizes = [[1, 1, 1], [2, 2, 2], [2, 2, 2], [2, 2, 2], [2, 2, 2], [1, 2, 2]]  # (nnUnet auto)
pool_op_kernel_sizes = [[1, 1, 1], [2, 2, 2], [2, 2, 2], [2, 2, 2], [2, 2, 2], [2, 2, 1]]  # (new patch size and orient)

n_epochs = 100
