from m3da_exp.commands import compute_test_metrics_adabn_random


evaluate_individual_metrics = partial(
    compute_test_metrics_adabn_random,
    load_y=load_y, load_x=load_x, predict=predict, metrics=final_metrics, test_ids=test_ids,
    dims=pred_spatial_dims, zoom_order=pred_zoom_order,
    get_batch_iter=get_batch_iter_adabn, scaler=scaler, architecture=architecture,
    random_state=random_state, n_tta_iter=n_tta_iter, flip_dims=flip_dims, rot_dims=rot_dims,
)
