from m3da_exp.torch.module.gan import Generator


use_cyclegan2d = True
generator = Generator(3, 3)
saved_generator_path = 'generator.pth'

run_experiment = run(
    fix_seed(seed=RANDOM_STATE),
    lock_dir(),
    architecture.to(device),
    generator.to(device),
    load_model_state(architecture, saved_model_path),
    load_model_state(generator, saved_generator_path),
    if_missing(predict_to_dir, output_path=test_predictions_path),
    if_missing(evaluate_individual_metrics, results_path=test_metrics_path),
    if_missing(embed_to_dir, results_path=test_embed_path),
)
