

embed_to_dir = partial(embed_to_folder, load_x=load_x, architecture=teacher, test_ids=test_ids,
                       patch_size=x_patch_size, device=device)


saved_model_paths = ['student.pth', 'teacher.pth']
run_experiment = run(
    fix_seed(seed=RANDOM_STATE),
    lock_dir(),
    student.to(device),
    teacher.to(device),
    student.apply(InitWeights_He(1e-2)),
    teacher.apply(InitWeights_He(1e-2)),
    if_missing(lambda p1, p2: [train_model, save_model_state(student, p1), save_model_state(teacher, p2)],
               *saved_model_paths),
    load_model_state(student, saved_model_paths[0]),
    load_model_state(teacher, saved_model_paths[1]),
    if_missing(predict_to_dir, output_path=test_predictions_path),
    if_missing(evaluate_individual_metrics, results_path=test_metrics_path),
    if_missing(embed_to_dir, results_path=test_embed_path),
)
