from dpipe.layout import Flat


layout = Flat(split, prefixes=("train_s", "train_t", "val_s", "val_t", "test_s", "test_t"))
train_ids_s = layout.get_ids('train_s')
train_ids_t = layout.get_ids('train_t')
val_ids_s = layout.get_ids('val_s')
val_ids_t = layout.get_ids('val_t')
test_ids_s = layout.get_ids('test_s')
test_ids_t = layout.get_ids('test_t')

train_ids = {"source": train_ids_s, "target": train_ids_t}
val_ids = (*val_ids_s, *val_ids_t)
test_ids = (*test_ids_s, *test_ids_t)
